
Terraform-Up&Runnig/Terraform_ Up & Running_ 2019_ptbr.pdf
Terraform-Up&Runnig/Terraform_ Up & Running_ 2019.pdf
Terraform-Up&Runnig/terraform-up-and-running-code
Terraform-Up&Runnig/lab-igoroliveira.pem
Terraform-Up&Runnig/id_chave.txt